.git
.gitignore
.github
.beads
.idea
.vscode
node_modules
**/node_modules
vendor
services/hocuspocus/dist
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
npm-debug.log*
*.md
